{% extends "base.html" %}
{% block title %} yaws | About {% endblock %}
{% block content %}
    <div class="row mb-5">
        {% include "header.html" %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="section-title pr-2">About</h4>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4">
        <div class="text-secondary col-md-12 pb-3">
            <p>This website is a simple web application meant to provide you with live and accurate weather data for the location of your choice.</p>
            <p>The data is pulled from:</p>
            <ul>
                <li><a href="https://wiki.openstreetmap.org/wiki/Nominatim" target="_blank">OpenStreetMap Nominatim API</a> to geocode user's input</li>
                <li><a href="https://timezonedb.com/" target="_blank">TimeZoneDB API</a> to get location's local time</li>
                <li><a href="https://openweathermap.org" target="_blank">OpenWeatherMap API</a> for weather conditions and forecasts</li>
                <li><a href="https://www.airvisual.com/" target="_blank">AirVisual API</a> for the air quality index</li>
            </ul>
            <p>This website is powered by:</p>
            <ul>
                <li><b>Python 3.6</b> for the language</li>
                <li><b>Flask</b> for the web framework running the application</li>
                <li><b>Bootstrap 4</b> for the frontend UI</li>
                <li><b>ChartJS</b> to build beautiful weather data charts</li>
                <li><b>Typeahead.js</b> for the autocomplete engine</li>
                <li><b>Leaflet</b> for the map mode</li>
                <li><b>Dark-mode-switch</b> from <a href="https://github.com/coliff" target="_blank">Christian Oliff</a> for the dark mode toggle switch</li>
                <li><b>AWS Elastic Beanstalk</b> for the platform on which the application is running</li>
                <li><b>Font Awesome</b> for the menu icons</li>
                <li><b>Google Fonts</b> for the fonts</li>
                <li><b>AWS CodePipeline</b> to handle the deploys</li>
            </ul>
            <p>If you have any feedback or are experiencing troubles using the website, please feel free to <a href="mailto:jean.guillet@grenoble-em.com">contact us</a>!</p>
            <p>Thanks for using yaws!</p>
            <p><b>v{{ config["VERSION"] }}</b></p>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}