{% extends "base.html" %}
{% block title %} yaws | {{ cache.get("user_query_location") }} ({{ cache.get("country_code") }}) {% endblock %}
{% block content %}
    <div class="row">
        {% include "header.html" %}
    </div>
    <div class="row justify-content-center mb-2 mt-5">
        <div class="d-flex">
            <h2 class="display-4 font-weight-normal weather_temp_current">{{ cache.get("weather_cel_temp_current") }}</h2>
            <h4 class="mt-1 weather_temp_unit">°C</h4>
        </div>
    </div>
    <div class="row justify-content-center mb-2">
        <h3>
            <a href="{{ cache.get('location_more_link') }}" target="_blank" class="links pr-3">
            {{ cache.get("user_query_location") }}
            </a>
        </h3>
    </div>
    <div class="row justify-content-center text-center">
        <p>{{ cache.get("country_full_name") }} {{ cache.get("country_emoji_flag") }}</p>
    </div>
    <div class="row justify-content-center mb-5">
        <p class="text-secondary">{{ cache.get("location_local_time").strftime('%A %d %b, %H:%M') }}</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <h4 class="section-title no-select pr-2">Today</h4>
                <i class="fas fa-info-circle mt-1 text-secondary pointer pr-2" data-toggle="modal" data-target="#about_report_modal"></i>
                <div class="btn-group btn-group-toggle ml-auto" data-toggle="buttons">
                    <label class="btn btn-outline-secondary active" onclick="toCelsius();">
                      <input type="radio" name="options" id="temp_celsius">°C
                    </label>
                    <label class="btn btn-outline-secondary" onclick="toFahrenheit();">
                      <input type="radio" name="options" id="temp_fahrenheit" autocomplete="off">°F
                    </label>
                </div>
            </div>
            <div class="modal fade" id="about_report_modal" tabindex="-1" role="dialog" aria-labelledby="about_report_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title section-title no-select mb-2">About this report</h5>
                            <button type="button" class="close no-select" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mb-2">
                            <div>
                                <h4>{{ cache.get("weather_time_calc_utc_current") }}</h4>
                                <p class="text-secondary">Time of calculation (UTC)</p>
                            </div>
                            <div>
                                <h4>{{ cache.get("location_station_name") }}</h4>
                                <p class="text-secondary">Weather station's name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4">
        <div class="col-md-4">
            <div class="pb-3">
                <h3>{{ cache.get("weather_description") }}</h3>
                <p class="text-secondary no-select">Current situation</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <div class="d-flex">
                    {% if cache.get("weather_cel_temp_min") == cache.get("weather_cel_temp_max") %}
                        <h3 class="weather_temp_min">{{ cache.get("weather_cel_temp_min") }}</h3>
                        <p class="pr-2 weather_temp_unit">°C</p>
                    {% else %}
                        <h3 class="weather_temp_min">{{ cache.get("weather_cel_temp_min") }}</h3>
                        <p class="pr-2 weather_temp_unit">°C</p>
                        <h3 class="pr-2">to</h3>
                        <h3 class="weather_temp_max">{{ cache.get("weather_cel_temp_max") }}</h3>
                        <p class="pr-2 weather_temp_unit">°C</p>
                    {% endif %}
                </div>
                <p class="text-secondary no-select">Temperature range</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <div class="d-flex">
                    <h3>{{ cache.get("weather_pressure") }}</h3>
                    <p>hPa</p>
                </div>
                <p class="text-secondary no-select">Current pressure</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4">
        <div class="col-md-4">
            <div class="pb-3">
                <div class="d-flex">
                    <h3>{{ cache.get("weather_humidity") }}</h3>
                    <p>%</p>
                </div>
                <p class="text-secondary no-select">Current humidity</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <div class="d-flex">
                    <h3 class="weather_wind_speed">{{ cache.get("weather_cel_wind_speed") }}</h3>
                    <p class="weather_wind_speed_unit">m/s</p>
                </div>
                <p class="text-secondary no-select">Current wind speed</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <h3>{{ cache.get("weather_wind_direction_abbr") }}</h3>
                <p class="text-secondary no-select">Current wind direction</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4 mb-5">
        <div class="col-md-4">
            <div class="pb-3">
                <h3 id="weather_uv_index">{{ cache.get("weather_uv_index") }}</h3>
                <p class="text-secondary no-select">UV index</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pb-3">
                <h3 id="weather_air_quality_index">{{ cache.get("weather_air_quality_index") }}</h3>
                <p class="text-secondary no-select">Air quality index (US EPA)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex">
                <h4 class="section-title no-select pr-2">Next 5 days</h4>
                <i class="fas fa-info-circle mt-1 text-secondary pointer" data-toggle="modal" data-target="#about_report_modal"></i>
            </div>
        </div>
    </div>
    <hr> 
    <div class="row pt-4 mb-5">
        <div class="col-md-12">
            <p class="text-secondary no-select">Expected temperatures (UTC)</p>
            <canvas id="weather_temp_forecast_chart" widht="400" height="150" class="pt-4"></canvas>
            <script type="text/javascript"> 
                window.chartCelData = [{% for weather_temp in cache.get("weather_cel_temp_forecast") %} {{ weather_temp }}, {% endfor %}];
                window.chartFarData = [{% for weather_temp in cache.get("weather_far_temp_forecast") %} {{ weather_temp }}, {% endfor %}];
                window.chartLabels = [{% for time_calc in cache.get("weather_time_calc_utc_forecast") %} "{{ time_calc.strftime('%a at %H:%M') }}", {% endfor %}];
                window.weatherUvIndex = {{ cache.get("weather_uv_index") }};
                window.weatherAirQualityIndex = {{ cache.get("weather_air_quality_index") }};
                window.weatherCelTempCurrent = {{ cache.get("weather_cel_temp_current") }};
                window.weatherCelTempMin = {{ cache.get("weather_cel_temp_min") }};
                window.weatherCelTempMax = {{ cache.get("weather_cel_temp_max") }};
                window.weatherCelWindSpeed = {{ cache.get("weather_cel_wind_speed") }};
                window.weatherFarTempCurrent = {{ cache.get("weather_far_temp_current") }};
                window.weatherFarTempMin = {{ cache.get("weather_far_temp_min") }};
                window.weatherFarTempMax = {{ cache.get("weather_far_temp_max") }};
                window.weatherFarWindSpeed = {{ cache.get("weather_far_wind_speed") }};
            </script>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{ url_for('weather_blueprint.static', filename='dashboard.js') }}"></script>
{% endblock %}