/* Theme colors */

:root {
    --font-primary: 'Krub', sans-serif;
    --font-secondary: 'Viga', sans-serif;
    --light-background: rgb(244, 245, 249);
    --light-background-variant :rgb(239,241,245);
    --dark-background: rgb(26, 26, 26);
    --dark-background-variant: rgb(20, 20, 20);
    --blue: rgb(0, 123, 255);
    --orange: rgb(222, 113, 25);
    --orange-variant: rgb(146, 75, 17);
    --orange-variant-2: rgb(255, 180, 120);
    --orange-variant-3: rgb(168, 140, 118);
    --grey: rgb(131,149,167);
    --grey-variant: rgb(153, 153, 153);
    --grey-variant-2: rgb(245, 245, 245);
    --grey-variant-3: rgb(72, 71, 67);
    --grey-variant-4: rgb(206, 212, 218);
    --grey-variant-5: rgb(34, 34, 34);
    --broken-white: rgb(246, 244, 230);
    --broken-white-variant: rgb(172, 170, 158);
}

/* Global styling */

body {
    background-color: var(--light-background);
    font-family: var(--font-primary);
}

.footer {
    width: 100%;
    line-height: 50px;
    background-color: var(--light-background-variant);
}

.text-secondary {
    color: var(--grey)!important;
}

.section-title, 
.home-title, 
.links-secondary {
    color: var(--blue);
}

.links:hover, 
.links-secondary:hover {
    text-decoration: none;
    transition-duration: 1s;
}

.pointer {
    cursor: pointer;
}

.home-title {
    font-family: var(--font-secondary);
}

.btn-outline-secondary {
    cursor: pointer;
}

/* Search bar styling */

.input-group > .twitter-typeahead {
    flex: 1 1 auto;
    width: auto;
    width: 60%;
 }

 .tt-query {
	box-shadow: 0 1px 1px rgba(black, 0.075) inset;
}

.tt-hint {
	color: var(--grey-variant);
}

.tt-menu {
	background-color: white;
	border: 1px solid rgba(0 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	padding: 8px 0;
	width: 100%;
	background-color: white;
	color: black;
}

.tt-suggestion {
	font-size: 1rem; 
	padding: 3px 10px;
}

.tt-suggestion:hover {
	cursor: pointer;
	background-color: var(--blue);
	color: white;
}

.tt-cursor {
    background-color:var(--grey-variant-2);
}

/* Map styling */

#weather_current_map {
    height: 500px;
}

.leaflet-popup {
    font-family: var(--font-primary);
}

.leaflet-popup-content p {
    margin: 0!important;
}

/* Media queries */

@media screen and (max-width:700px) {
    .main-section {
        width: 100%!important;
    }
}

/* Various */

.no-select {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}