{% extends "base.html" %}
{% block title %} yaws | Home {% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-12 p-5">
            <h1 class="home-title no-select">yaws</h1>
            <div class="text-secondary no-select">
                <p>Yet another weather service ;)</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 pt-5">
            <form action="{{ url_for('weather_blueprint.home') }}" method="POST">
                <div class="input-group mb-3">
                    {{ city_form.location(class_="search-bar tt-query form-control form-control-md", placeholder="Enter a location", type="text", autocomplete="off", spellcheck="false") }}
                    <div>
                        {{ city_form.submit(class_="btn btn-md btn-outline-primary") }}
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center col-md-12 pt-3 no-select">
            <a href="{{ url_for('map_blueprint.map') }}"><i class="fas fa-map-marker-alt links-secondary pr-2"></i>Use map mode</a>  
        </div>
    </div>
    <div class="blank-space">
    </div>
{% endblock %}

{% block footer %}
<div class="footer-fixed">
    {% include "footer.html" %}
</div>
{% endblock %}
