{% extends "base.html" %}
{% block title %} yaws | Top searches {% endblock %}
{% block content %}
    <div class="row mb-5 mt-4">
        {% include "header.html" %}
    </div>
    {% if ordered_top_searches %}
        <div class="row">
            <div class="col-md-12">
                <h4 class="section-title pr-2 no-select">Top searches</h4>
            </div>
        </div>
        <hr>
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-secondary no-select">Location</th>
                    <th class="text-secondary no-select">Page views</th>
                </tr>
            </thead>
            <tbody>
                {% for i, j in ordered_top_searches.items() %}
                <tr>
                    <td>
                        <a href="/?location={{ i }}">{{ i }}</a>
                    </td>
                    <td>
                        {{ j }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row justify-content-center text-secondary no-select">
            <h5>No top searches yet!</h5>
        </div>
    {% endif %}
{% endblock %}
{% block footer %}
    <div class="footer-fixed no-display-on-resize">
        {% include "footer.html" %}
    </div>
{% endblock %}