/* Theme variables */

:root {
    /* Fonts */
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Jua', sans-serif;

    /* Shades */
    --light-background: rgb(244, 245, 249);
    --light-background-variant: rgb(239, 241, 245);
    --dark-background: rgb(26, 26, 26);
    --dark-background-variant: rgb(20, 20, 20);
    --white-alpha: rgba(255, 255, 255, 0.1);
    --black-alpha: rgba(0, 0, 0, 0.1);
    --black-alpha-variant: rgba(0, 0, 0, 0.2);
    --grey: rgb(131,149,167);
    --grey-variant: rgb(153, 153, 153);
    --grey-variant-2: rgb(245, 245, 245);
    --grey-variant-3: rgb(72, 71, 67);
    --grey-variant-4: rgb(206, 212, 218);
    --grey-variant-5: rgb(34, 34, 34);
    --broken-white: rgb(246, 244, 230);
    --broken-white-variant: rgb(172, 170, 158);

    /* Colors */
    --red: rgb(231, 76, 60);
    --green: rgb(39, 174, 96);
    --blue: rgb(0, 123, 255);
    --blue-alpha: rgba(0, 123, 255, 0.1); 
    --orange: rgb(222, 113, 25);
    --orange-variant: rgb(146, 75, 17);
    --orange-variant-2: rgb(255, 180, 120);
    --orange-variant-3: rgb(168, 140, 118);
    --yellow: rgb(241, 196, 15);
    --purple: rgb(155, 89, 182);
    --brown: rgb(101, 67, 33);
}


/* Global styling */

body {
    background-color: var(--light-background);
    font-family: var(--font-primary);
}

.footer {
    width: 100%;
    line-height: 50px;
    background-color: var(--light-background-variant);
}

.footer-fixed {
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

.text-secondary {
    color: var(--grey)!important;
}

.section-title, 
.home-title, 
.links-secondary {
    color: var(--blue);
}

.links:hover, 
.links-secondary:hover {
    text-decoration: none;
    transition-duration: 1s;
}

.pointer {
    cursor: pointer;
}

.home-title {
    font-family: var(--font-secondary);
}

.btn-outline-secondary {
    cursor: pointer;
}

.blank-space {
    display: none;
    height: 150px;
}

#weather_current_highlight {
    position: relative; 
    margin-bottom: -305px;
}


/* Search bar styling */

.input-group > .twitter-typeahead {
    flex: 1 1 auto;
    width: 60%;
 }

 .tt-query {
	box-shadow: 0 1px 1px var(--black-alpha) inset;
}

.tt-hint {
	color: var(--grey-variant);
}

.tt-menu {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 5px 10px var(--black-alpha-variant);
	margin-top: 10px;
	padding: 8px 0;
	width: 100%;
	background-color: white;
	color: black;
}

.tt-suggestion {
	font-size: 1rem; 
	padding: 3px 10px;
}

.tt-suggestion:hover {
	cursor: pointer;
	background-color: var(--blue);
	color: white;
}

.tt-cursor {
    background-color: var(--grey-variant-2);
}


/* Map styling */

#weather_current_map {
    height: 500px;
    border-radius: 10px;
}

#location_map {
    height: 300px;
    opacity: 50%;
    border-radius: 10px;
    z-index: -1;
}

.leaflet-popup {
    font-family: var(--font-primary);
}

.leaflet-popup-content p {
    margin: 0!important;
}

/* Table styling */
.table-hover tbody tr:hover {
    background-color: var(--light-background-variant);
}


/* Chart styling */

.chart-container {
    position: relative;
    margin: auto;
    height: 45vh;
    width: 100%;
  }


  /* Card styling */

.card {
    transform: scale(1);
    transition: transform 0.3s;
    width: 15rem;
    background-color: var(--light-background-variant);
  }

.card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}


/* Icons styling */
.icon-box {
    background-color: var(--blue-alpha);
    width:40px!important;
    height:40px!important;
    border-radius: 5px;
}


/* Media queries */

@media screen and (max-width:700px) {
    .main-section {
        width: 100%!important;
    }

    .no-display-on-resize {
        display: none;
    }

    .blank-space {
        display: block;
    }
    
    th {
        font-size: 0.80em;
    }
}


/* Various */

.no-select {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.no-display {
    display: none;
}