body {
    background-color:#f4f5f9;
    font-family: 'Krub', sans-serif;
}

.secondary {
    color:#8395a7;
}

.links:hover, .links-secondary:hover {
    text-decoration: none;
    transition-duration: 1s;
}

.section-title, .home-title, .links-secondary {
    color:#007BFF;
}

.pointer {
    cursor: pointer;
}

.home-title {
    font-family: 'Viga', sans-serif; 
}

@media screen and (max-width:700px) {
    .main-section {
        width: 100%!important;
    }
}