body {
    background-color:#f4f5f9;
    font-family: 'Krub', sans-serif;
}

.secondary {
    color:#8395a7;
}

.links:hover, .links-secondary:hover {
    text-decoration: none;
    transition-duration: 1s;
}

.section-title, .home-title, .links-secondary {
    color:#007BFF;
}

.pointer {
    cursor: pointer;
}

.home-title {
    font-family: 'Viga', sans-serif; 
}

.input-group > .twitter-typeahead {
    flex: 1 1 auto;
    width: auto;
 }

 .tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	padding: 8px 0;
	width: 100%;
}
.tt-suggestion {
	font-size: 1rem; 
	padding: 3px 10px;
}

.tt-suggestion:hover {
	cursor: pointer;
	background-color: #007BFF;
	color: #FFFFFF;
}

.tt-cursor {
    background-color:#f5f5f5;
}

@media screen and (max-width:700px) {
    .main-section {
        width: 100%!important;
    }
}