{% extends "base.html" %}
{% block title %} Oops ! {% endblock %}
{% block content %}
    <div class="row text-center">
        <div class="col-md-12 p-5">
            <h1>Oops, nothing found here!</h1>
            <div class="text-secondary">
                <p class="mb-5">No worries, we'll help you to get back on tracks ;)</p>
            </div>
            <a href="{{ url_for('home') }}">
                <button class="btn btn-danger">Take me back home !</button>
            </a>
        </div>
    </div>
{% endblock %}