{% extends "base.html" %}
{% block title %}
    <title>yaws | About</title>
{% endblock %}
{% block content %}
    <!-- HEADER -->
    <div class="row mb-5">
        <div class="col-md-8 mb-3">
            <h4><a class="links text-lowercase home-title" href="{{ url_for('home') }}">yaws</a></h4>
        </div>
        <div class="col-md-4">
            <form action="{{ url_for('home') }}" method="POST">
                <div class="input-group mb-3">
                    {{ city_form.location(class_="search-bar tt-query form-control form-control", placeholder="Enter a location") }}
                    <div class="input-group-append">
                        {{ city_form.submit(class_="btn btn-sm btn-outline-primary float-right") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END HEADER -->
    <!-- ABOUT SECTION -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="section-title pr-2">About</h4>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4">
        <div class="secondary col-md-12 pb-3">
            <p>This website is a simple web application meant to provide you with live and accurate weather data for the location of your choice.</p>
            <p>The data is pulled from:</p>
            <ul>
                <li><a href="https://wiki.openstreetmap.org/wiki/Nominatim" target="_blank">OpenStreetMap Nominatim API</a> to geocode user's input</li>
                <li><a href="https://timezonedb.com/" target="_blank">TimeZoneDB API</a> to get location's local time</li>
                <li><a href="https://openweathermap.org" target="_blank">OpenWeatherMap API</a> for weather conditions and forecasts</li>
                <li><a href="https://www.airvisual.com/" target="_blank">AirVisual API</a> for the air quality index</li>
            </ul>
            <p>This website is powered by:</p>
            <ul>
                <li><b>Python 3.6</b> for the language</li>
                <li><b>Flask</b> for the webframework running the application</li>
                <li><b>Bootstrap 4</b> for the frontend UI</li>
                <li><b>ChartJS</b> to build beautiful weather data charts</li>
                <li><b>AWS Elastic Beanstalk</b> provides the platform on which the application is running</li>
                <li><b>AWS CodePipeline</b> handles the deploys</li>
            </ul>
            <p>If you have any feedback or are experiencing troubles using the website Please feel free to <a href="mailto:jean.guillet@grenoble-em.com">contact us</a>!</p>
            <p>Thanks for using yaws ! </p>
            <p><b>v1.2.0</b></p>
        </div>
    </div>
    <!-- END ABOUT SECTION -->
{% endblock %}
