<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Krub:500|Viga&display=swap">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-appletouch/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon.png') }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-152x152.png') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon-appletouch/apple-touch-icon-180x180.png') }}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main-section container p-5 w-75">
            {% block content %}
            {% endblock %}
        </div>
        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12 mt-3">
                            <span class="mr-3"><a href="{{ url_for('about') }}">About</a></span>
                            <span class="mr-3"><a href="https://github.com/John35961/weather-app" target="_blank">Fork us on GitHub</a></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12 mb-3">
                            <span class="mr-3 secondary text-">Made with ♥ in France</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/typeahead.bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/typeahead_search_bar.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>