<div class="container footer">
    <div class="row text-center">
        <div class="col-md-12 no-select mt-3">
            <span class="mr-3"><a href="{{ url_for('map_blueprint.map') }}">Map mode</a></span>
            <span class="mr-3"><a href="https://github.com/John35961/weather-app" target="_blank">Fork on GitHub</a></span>
            <span class="mr-3"><a href="mailto:jean.guillet@grenoble-em.com?subject=Howdy yaws!" target="_blank">Contact</a></span>
            <span class="mr-3"><a href="{{ url_for('about_blueprint.about') }}">About</a></span>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 no-select mb-3 text-secondary">
            <span class="mr-3">Made with ♥ in France</span>
        </div>
    </div>
</div>