<div class="col-md-8 mb-3">
    <h4><a class="links text-lowercase home-title" href="{{ url_for('weather_blueprint.home') }}">yaws</a></h4>
</div>
<div class="col-md-4">
    <form action="{{ url_for('weather_blueprint.home') }}" method="POST">
        <div class="input-group mb-3">
            {{ city_form.location(class_="search-bar tt-query form-control form-control", placeholder="Enter a location") }}
            <div class="input-group-append">
                {{ city_form.submit(class_="btn btn-sm btn-outline-primary float-right") }}
            </div>
        </div>
    </form>
</div>