{% extends "base.html" %}
{% block title %} yaws | Map mode {% endblock %}
{% block content %}
    <div class="row mb-5 mt-4">
        {% include "header.html" %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="section-title pr-2">Today</h4>
        </div>
    </div>
    <hr>
    <div class="row pb-3 pt-4">
        <div class="text-secondary col-md-12 pb-3">
            <p>Click somewhere on the map to get location's current temperature.</p>
            <div id="weather_current_map" class="mb-2"></div>
            <p class="small text-right">Please empty your browser's cache if you have troubles displaying the map.</p>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}
{% block script %}
<script src="{{ url_for('map_blueprint.static', filename='map.js') }}"></script>
{% endblock %}